.TourRatingComponent,
.stars {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.TourRatingComponen {
    width: 18px;
    height: 119px;
}
.rating {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    margin-bottom: 5px;
}
.stars {
    flex-direction: column-reverse;
}
.TourPoster__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}