.Header {
    width: 1351px;
    margin: 0px auto 654px;
    padding: 24px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    background-color: transparent;
    @include xl-d {
        width: 95%;
        padding: 20px 0px;
        margin: 0px auto 30px;
    }
    @include sm-d {
        margin: 0px auto 500px;
    }
}

.logo {
    @include lg-d {
        display: flex;
        order: 2;
        width: 75px;
    }
}

.header-nav {
    width: 765px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    @include lg-d {
        display: none;
    }
}

.header-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-size: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.04em;
}

.callback-btn {
    text-transform: uppercase;
    color: #000;
    font-size: 16px;
    padding: 11px 20px;
    border-radius: 4.33rem;
    border: 1px solid #000;
    background-color: transparent;
    &:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.8);
    }
    @include lg-d {
        display: flex;
        order: 1;
        padding: 9px 13px;
        font-size: 11px;
    }
}

.rest-word {
    @include lg-d {
        display: none;
    }
}

.BurgerNavigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E2D3CE;
    padding: 99px 40px 51px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 107vh;
    opacity: 0;
    transition: .35s;
    z-index: 1;
    pointer-events: none;
}

.burder-nav {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-item {
        margin-bottom: 64px;
    }
    &-link {
        color: #000;
        text-transform: uppercase;
        text-decoration: none;
    }
}

.burger_disabled {
    opacity: 1;
    pointer-events: all;
}

.burger-trigger {
    display: none;
    @include lg-d {
        display: flex;
        order: 3;
    }
}

.MainFirstBlock {
    background-repeat: no-repeat;
    margin-bottom: 100px;
}