.topic-slider-line {
    display: grid;
    grid-template-columns: repeat(3,350px);
    grid-gap: 24px 30px;
    justify-content: center;
    position: relative;
    @include xl-d {
        grid-template-columns: repeat(2,350px);
    }
    @include md-d {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        width: 1540px;
    }
}

.topic-slider__ttl {
    font-size: 60px;
    font-weight: 400;
    line-height: 58px;
    color: #000;
    margin-bottom: 30px;
}

.topic-slider-wrapper {
    position: relative;
}