.MainFirstBlock {
    background: url('../../img/bgtop.png');
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    height: 1041px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


    background-repeat: round;
    background-size: cover;
    background-position: inherit;
}

@media (max-width: 1210px) {
    .MainFirstBlock {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}