.MainFirstBlock {
    background: url('../../img/bgtop.jpg');
    height: 850px;

    background-repeat: round;
    background-size: cover;
    background-position: inherit;
}
.MainFirstBlock_active {
    background: url('../../img/bgheaderinner.png');
    height: 431px;
    background-repeat: no-repeat;
    background-size: cover;
}
.Header_active {
    margin: 0px auto 169px;
}

@media (max-width: 1210px) {
    .MainFirstBlock {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (max-width: 600px) {
    .MainFirstBlock {
        background: url('../../img/firstblockbackgroundmobile.png');
        background-repeat: round;
        background-size: cover;
        background-position: inherit;
    }
    .MainFirstBlock_active {
        background: url('../../img/bgheaderinner.png');
        height: 431px;
        background-repeat: no-repeat;
        background-size: cover;
    }
}