.BlackBtn {
    background-color: black;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    border-radius: 3em;
    position: relative;
    margin: 0 auto;
    padding: .5em .2em;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    transition: .35s;
    margin-bottom: 80px;
    text-align: center;
}

.BlackBtn:hover {
    cursor: pointer;
    background-color: rgb(29, 26, 26);
}

.blackSubstract {
    width: 90%;
    height: 61px;
    border-radius: 98.197px;
    border: 1px solid var(--style, #0C0B10);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.crownTop  {
    position: absolute;
    top: -29px;
    background-color: #fff;
    left: 50%;
    transform: translate(-50%, 0px);
    padding: 0px 10px;
    z-index: 11;
    border-radius: 42px;
    border: 1px solid #fff;
}

.styleBackground {
    background-color: #E2D3CE;
}

.crownBottom {
    position: absolute;
    bottom: -26px;
    left: 50%;
    transform: translate(-50%, 0px);
    background: transparent;
    padding: 0px 10px;
    border-radius: 42px;
}

@media (max-width: 600px) {
    .BlackBtn {
        padding: 0.5em .6em;
        width: 261px;
    }
}