.TourPoster {
    width: 1111px;
    height: 549px;
    border-radius: 10px;
    margin: 0 auto 150px;
    padding: 244px 66px 70px 0px;
    background-color: aqua;
    color: #fff;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background: url('../../../img/tourposterbackground.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.TourPoster__gradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0B2034 100%);
    width: 100%;
    height: 258px;
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 10px 10px;
}
.TourPoster__cost-container {
    display: flex;
    align-items: center;
    position: relative;
}
.TourPoster__props-container {
    position: relative;
    height: 479px;
    padding: 244px 0px 0px 67px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.cost {
    margin-right: 34px;
}
.TourPoster__customize-tour {
    color: #000;
    background-color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    padding: 11px 28px;
    border-radius: 61px;
    border: 0;
    text-transform: uppercase;
}
.TourPoster__customize-tour:hover {
    cursor: pointer;
}

.TourPoster__book-btn {
    width: 250px;
    padding: 0.6em 2.4em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 175%);
}
.TourPoster__book-btn > .center {
    width: 90%;
    height: 144%;
}
@media (max-width: 1350px) {
    .TourPoster {
        width: 92%;
    }
}

@media (max-width: 760px) {
    .TourPoster {
        padding: 244px 22px 29px 0px;
    }
    .TourPoster__props-container {
        padding: 352px 0px 0px 18px;
    }
}