/*
    general styles for sliders
*/
.day-two-galery,
.day-three-galery,
.day-four-galery,
.day-fifth-galery,
.day-sixth-galery,
.day-seven-galery {
    width: 750px;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.day-three-galery,
.day-fifth-galery,
.day-sixth-galery,
.day-seven-galery {
    width: 610px;
    @include sm-d {
        align-items: flex-start
    }
}

.day-one__photo-slider,
.day-two__photo-slider,
.day-three__photo-slider,
.day-four__photo-slider,
.day-fifth__photo-slider,
.day-sixth__photo-slider,
.day-seven__photo-slider {
    background-image: none;
    height: auto;
    width: 760px;
    overflow: hidden;
    margin-bottom: 0;
}

.photo-slider__line,
.day-one__photo-slider__line,
.day-two__photo-slider__line,
.day-three__photo-slider__line,
.day-four__photo-slider__line,
.day-fifth__photo-slider__line,
.day-sixth__photo-slider__line,
.day-seven__photo-slider__line {
    @include flexRowBetween;
    transition: .45s;
    align-items: flex-start;
}

.slider__item,
.day-one__slider__item,
.day-two__slider__item,
.day-three__slider__item ,
.day-four__slider__item,
.day-fifth__slider__item,
.day-sixth__slider__item,
.day-seven__slider__item {
    transition-duration: .45s;
    position: relative;
    height: 267px;
}

.slider__btn,
.one-day__slider-btn,
.two-day__slider-btn,
.three-day__slider-btn,
.four-day__slider-btn,
.fifth-day__slider-btn,
.sixth-day__slider-btn,
.seven-day__slider-btn {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: .3s;
    &:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.5);
    }
}
.two-day__slider-btn,
.three-day__slider-btn,
.seven-day__slider-btn {
    border-color: black;
}
.second-day__arrow-btn {
    color: black;
}

.slider__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 92px;
    @include md-d {
        margin-bottom: 20px;
    }
}

.slider__btn:last-child,
.one-day__slider-btn:last-child,
.two-day__slider-btn:last-child,
.three-day__slider-btn:last-child,
.four-day__slider-btn:last-child,
.fifth-day__slider-btn:last-child,
.sixth-day__slider-btn:last-child,
.seven-day__slider-btn:last-child {
    transform: rotate(180deg);
}