.TourSliderArticle {
    margin-bottom: 117px;
    background: linear-gradient(180deg, #E2D3CE 0%, #C9C8D8 30.73%, #D4D8C6 59.37%, #E2D3CE 100%);
    position: relative;
}

.topic-slider-text-container {
    margin-top: 118px;
}

.tourSlider__btn {
    width: 140px;
    height: 38px;
    padding: 0.66em 1.5em;
}