.BookListArticle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 123px;
}
.BookListArticle__ttl {
    font-size: 60px;
    font-weight: 400;
    line-height: 58px;
    text-transform: uppercase;
    text-align: center;
    width: 259px;
    margin-bottom: 74px;
}
.BookListArticle__grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 540px);
    grid-gap: 30px;
}
@media (max-width: 1199.8px) {
    .BookListArticle__grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}