$brackpoints: (
    sm: 635px,
    md: 880px,
    lg: 1130px,
    lg-m: 1200,
    xl: 1300px,
    xxl: 1600px,
);

@mixin sm-u(){
    @media (min-width: map-get($brackpoints, sm)){
        @content;
    }
};

@mixin md-u(){
    @media (min-width: map-get($brackpoints, md)){
        @content;
    }
};

@mixin lg-u(){
    @media (min-width: map-get($brackpoints, lg)){
        @content;
    }
};

// ONLY

@mixin sm(){
    @media (max-width: map-get($brackpoints, md) - .2px) and (min-width: map-get($brackpoints, sm)){
        @content;
    }
};

@mixin md(){
    @media (max-width: map-get($brackpoints, lg) - .2px) and (min-width: map-get($brackpoints, md)){
        @content;
    }
};

@mixin lg(){
    @media (max-width: map-get($brackpoints, xl) - .2px) and (min-width: map-get($brackpoints, lg)){
        @content;
    }
};

@mixin xl(){
    @media (min-width: map-get($brackpoints, xl)){
        @content;
    }
};

//Mobile first

@mixin xxl-d(){
    @media (max-width: map-get($brackpoints, xxl) - .2px){
        @content
    }
};


@mixin xl-d(){
    @media (max-width: map-get($brackpoints, xl) - .2px){
        @content
    }
};

@mixin lg-m-d(){
    @media (max-width: map-get($brackpoints, lg-m) - .2px){
        @content
    }
};

@mixin lg-d(){
    @media (max-width: map-get($brackpoints, lg) - .2px){
        @content
    }
};

@mixin md-d{
    @media (max-width: map-get($brackpoints, md) - .2px){
        @content
    }
};

@mixin sm-d{
    @media (max-width: map-get($brackpoints, sm) - .2px){
        @content
    }
};
