.ProductPage__list {
    display: flex;
    width: 1110px;
    justify-content: space-between;
    margin: 0 auto;
    list-style: none;
    margin-bottom: 45px;
}

.ProductPage__item {
    position: relative;
}

.TourPageNavigation__link {
    color: #79655E;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.active {
    color: #000;
}

.nonactive {
    display: none;
}

.activeSvg {
    position: absolute;
    left: 50%;
    bottom: -70%;
    transform: translate(-80%, 0px);
}