.TourPlan {
    width: 1110px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 56px 96px;
    margin-bottom: 20px;
}
.TourPlan__ttl {
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 60px;
}
.TourDay {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 810px;
    margin-bottom: 67px;
}

.TourDay__ttl {
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
}

.TourDay__description {
    width: 539px;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 20px;
}

@media (max-width: 1110px) {
    .TourPlan {
        width: 92%;
        height: auto;
        padding: 26px 33px;
    }
}

@media (max-width: 950px) {
    .TourPlan__ttl {
        font-size: 32px;
        margin-bottom: 60px;
    }
    .TourDay {
        flex-direction: column;
    }
    .TourDay__ttl {
        font-size: 30px;
    }
    .TourDay,
    .TourDay__description {
        width: 100%;
    }
    .TourDay__description {
        font-size: 16px;
    }
}

@media (max-width: 550px) {
    .TourDay {
        margin-bottom: 15px;
    }
    .TourDay,
    .TourDay__description {
        width: 235px;
    }
}