@import '../../Scss/__global.scss/global.scss';
@import '../../Scss/__mixins/mixins.scss';

.BookPage__block {
    width: 1110px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.BookPage__img {
    width: 540px;
    height: 191px;
    border-radius: 10px;
    margin-bottom: 32px;
}

.BookPage__ttl {
    width: 539px;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 7px;
}

.BookPage__paragraph {
    width: 539px;
    @include Manrope(16px, 400);
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 30px;
}

.BookPage__left-advisor {
    width: 539px;
    margin: 0px 0px 34px 6px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.BookPage__advision-img {
    margin-right: 38px;
}

.BookPage__advision-ttl {
    @include Manrope(16px, 400);
    color: #000;
    font-style: normal;
    line-height: normal;
}

.BookPage__form {
    background-color: #fff;
    border-radius: 10px;
    padding: 60px 47px;
}

.flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.line {
    margin-top: 20px;
    color: rgba(121, 101, 94, 1);
    font-size: 18px;
}

.CustomizeForm__submit-btn {
    margin: 0px auto 14px;
    text-align: center; 
}

.CustomizeForm__btns-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 1200px) {
    .BookPage__block {
        width: 92%;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .BookPage__left {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .BookPage__img {
        height: auto;
        margin-bottom: 17px;
    }
    .BookPage__img,
    .BookPage__ttl,
    .BookPage__paragraph {
        width: 100%;
    }
    .BookPage__ttl {
        font-size: 30px;
    }
    .BookPage__paragraph {
        font-size: 16px;
        margin-bottom: 14px;
    }
    .BookPage__left-advisor-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        grid-gap: 35px 42px;
    }
    .BookPage__left-advisor {
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
        display: inline-flex;
    }
    .BookPage__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .flex {
        flex-direction: column;
        width: 100%;
    }
    .CustomizeForm__btn {
        width: 100%;
        margin-bottom: 14px;
    }
    .CustomizeForm__btns-container {
        flex-direction: column;
    }
}