.PurpleInputLabel {
    display: block;
    margin: 0 auto 13px;
}
.PurpleInput__title {
    margin-left: 22px;
    color: #79655E;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
}
.PurpleInput {
    width: 445px;
    height: 55px;
    border: 1.5px solid #E2D3CE;
    border-radius: 74px;
    background-color: #fff;
    outline: none;
    padding: 0px 15px;
    color: #79655E;
    font-size: 20px;
    margin-bottom: 15px;
}

@media (max-width: 740px) {
    .PurpleInput {
        width: 210px;
    }
}